In [30]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [2]:
df = pd.read_csv('C:/Users/Admin/Desktop/ML/LogisticRegression/Titanic Project ML/dataset/full.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,WikiId,Name_wiki,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Body,Class
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,691.0,"Braund, Mr. Owen Harris",22.0,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada",NaN,NaN,3.0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,C,90.0,"Cumings, Mrs. Florence Briggs (née Thayer)",35.0,"New York, New York, US",Cherbourg,"New York, New York, US",4,NaN,1.0
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,865.0,"Heikkinen, Miss Laina",26.0,"Jyväskylä, Finland",Southampton,New York City,14?,NaN,3.0
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,S,127.0,"Futrelle, Mrs. Lily May (née Peel)",35.0,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US",D,NaN,1.0
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,627.0,"Allen, Mr. William Henry",35.0,"Birmingham, West Midlands, England",Southampton,New York City,NaN,NaN,3.0

In [3]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,WikiId,Name_wiki,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Body,Class
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,...,S,1227.0,"Spector, Mr. Woolf",23.0,"London, England",Southampton,New York City,NaN,NaN,3.0
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,...,C,229.0,"and maid, Doña Fermina Oliva y Ocana",39.0,"Madrid, Spain",Cherbourg,"New York, New York, US",8,NaN,1.0
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,...,S,1169.0,"Sæther, Mr. Simon Sivertsen",43.0,"Skaun, Sør-Trøndelag, Norway",Southampton,US,NaN,32MB,3.0
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,...,S,1289.0,"Ware, Mr. Frederick William",34.0,"Greenwich, London, England",Southampton,New York City,NaN,NaN,3.0
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,...,C,702.0,"Butrus-Youssef, Master Makhkhul",4.0,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US",D,NaN,3.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
 12  WikiId       1304 non-null   float64
 13  Name_wiki    1304 non-null   object
 14  Age_wiki     1302 non-null   float64
 15  Hometown     1304 non-null   object
 16  Boarded      1304 non-null   object
 17  Destination  1304 non-null   object
 18  Lifeboat     502 non-null    object
 19  Body         130 non-null    object
 20  Class        1304 non-null   float64
dtypes: float64(6), int64(4), object(11)
memory usage: 214.9+ KB

In [5]:
df.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
WikiId            5
Name_wiki         5
Age_wiki          7
Hometown          5
Boarded           5
Destination       5
Lifeboat        807
Body           1179
Class             5
dtype: int64

In [6]:
df_train = df[df['Survived'].notnull()]  # Training set (891 rows)
df_test = df[df['Survived'].isnull()]    # Test set (418 rows)

In [7]:
correlation = df[['Pclass', 'Class']].corr()
print(correlation)

          Pclass     Class
Pclass  1.000000  0.997294
Class   0.997294  1.000000

In [8]:
df['Pclass'].value_counts()

Pclass
3    709
1    323
2    277
Name: count, dtype: int64

In [9]:
df['Class'].value_counts()

Class
3.0    706
1.0    326
2.0    272
Name: count, dtype: int64

In [10]:
df.drop(columns=['Lifeboat', 'Cabin', 'Body', 'Name', 'PassengerId', 'Ticket', 'Class',
                 'Age_wiki', 'Name_wiki', 'WikiId','Hometown', 'Boarded', 'Destination'], inplace=True)

In [11]:
df.isnull().sum()

Survived    418
Pclass        0
Sex           0
Age         263
SibSp         0
Parch         0
Fare          1
Embarked      2
dtype: int64

In [12]:
df['Age'].fillna(df['Age'].mean(), inplace=True)      # Fill Age with mean
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)  # Fill Embarked with mode
df['Fare'].fillna(df['Fare'].median(), inplace=True)  # Fill Fare with median

In [13]:
df.isnull().sum()

Survived    418
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked      0
dtype: int64

In [14]:
df['Embarked'].value_counts()

Embarked
S    916
C    270
Q    123
Name: count, dtype: int64

In [15]:
df['Pclass'].value_counts()

Pclass
3    709
1    323
2    277
Name: count, dtype: int64

In [16]:
df.dtypes

Survived    float64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [17]:
df.head(3)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       0.0       3    male  22.0      1      0   7.2500        S
1       1.0       1  female  38.0      1      0  71.2833        C
2       1.0       3  female  26.0      0      0   7.9250        S

In [18]:
df.isnull().sum()

Survived    418
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked      0
dtype: int64

In [19]:
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])

# Fill missing values in 'Embarked'
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

# Apply One-Hot Encoding
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)

# Convert only 'Embarked_' columns to int
for col in df.filter(like='Embarked_').columns:
    df[col] = df[col].astype(int)

# Check the results
print(df.dtypes)
print(df.head(3))

Survived      float64
Pclass          int64
Sex             int32
Age           float64
SibSp           int64
Parch           int64
Fare          float64
Embarked_Q      int32
Embarked_S      int32
dtype: object
   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked_Q  Embarked_S
0       0.0       3    1  22.0      1      0   7.2500           0           1
1       1.0       1    0  38.0      1      0  71.2833           0           0
2       1.0       3    0  26.0      0      0   7.9250           0           1

In [20]:
print(df['Embarked_Q'].unique())  # See unique values
print(df['Embarked_Q'].isnull().sum())  # Confirm missing values

print(df['Embarked_S'].unique())  # See unique values
print(df['Embarked_S'].isnull().sum())  # Confirm missing values

[0 1]
0
[1 0]
0

In [21]:
df.dtypes

Survived      float64
Pclass          int64
Sex             int32
Age           float64
SibSp           int64
Parch           int64
Fare          float64
Embarked_Q      int32
Embarked_S      int32
dtype: object

In [22]:
train_df = df[df['Survived'].notnull()]
test_df = df[df['Survived'].isnull()]

X_train = train_df.drop(columns=['Survived'])
y_train = train_df['Survived']

X_test = train_df.drop(columns=['Survived'])

print(X_train.shape, X_test.shape)

(891, 8) (891, 8)

In [23]:
print("Train Data:", train_df.shape)  # Should be (891, 9) before dropping 'Survived'
print("Test Data:", test_df.shape)    # Should be (418, 9) before dropping 'Survived'

Train Data: (891, 9)
Test Data: (418, 9)

In [24]:
# Define features and target from the correct train dataset
X_train_full = train_df.drop(columns=['Survived'])
y_train_full = train_df['Survived']

# Correctly split into train & validation sets
X_train, X_val, y_train, y_val = train_test_split(X_train_full, y_train_full, test_size=0.2, random_state=42)

# Ensure X_test is correctly assigned from the test dataset
X_test = test_df.drop(columns=['Survived'])  

# Check final shapes
print(X_train.shape, X_val.shape, X_test.shape)

(712, 8) (179, 8) (418, 8)

In [25]:
model = LogisticRegression(max_iter=1000)

In [26]:
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [27]:
y_val_pred = model.predict(X_val)  # Predict on validation set
accuracy = accuracy_score(y_val, y_val_pred)
print(f"Validation Accuracy: {accuracy:.4f}")

Validation Accuracy: 0.8101

In [28]:
train_accuracy = accuracy_score(y_train, model.predict(X_train))
print(f"Training Accuracy: {train_accuracy:.4f}")

Training Accuracy: 0.8020

In [29]:
print("Confusion Matrix:\n", confusion_matrix(y_val, y_val_pred))
print("Classification Report:\n", classification_report(y_val, y_val_pred))

Confusion Matrix:
 [[90 15]
 [19 55]]
Classification Report:
               precision    recall  f1-score   support

         0.0       0.83      0.86      0.84       105
         1.0       0.79      0.74      0.76        74

    accuracy                           0.81       179
   macro avg       0.81      0.80      0.80       179
weighted avg       0.81      0.81      0.81       179